

.original {
    text-align: center;
    margin-top: 40px;
}

#welcome-1, #welcome-3 {
    color: #000000;
    display: inline;
}

#welcome-2 {
    color: #cc0052;
    display: inline;
    font-style: italic;
    font-weight: bold;
    background-color: bisque;
    border-radius: 30px;
    padding: 8px;

}

.text {
    padding: 20px 0 10px 0;
}

.category-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 35px;
}

button {
    background-color: #cc0052;
    color: aliceblue;
    border: solid 1px #ffffff ;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    width: 220px;
    height: 57px;
}

.new {
    text-align: center;
}

.category-title {
    text-align: center;
}

.electronics-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.jewelry-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.men-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.women-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}