.electronic-products {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #f2f2f2;
    padding: 15px 0 15px 0;
    border-radius: 20px;
    border: solid 1px #f4f2f1;
}

.electronics-image {
   padding-top: 10px;
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    filter: brightness(95%)
}
 .electronics-title {
    color: black;
    text-decoration-line: none;
    height: 70px;
    margin: 10px 0 5px 0;
 }

 .electronics-price {
    color: black;
    height: 20px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
 }

 a:link {
    text-decoration: none;
 }
 a:visited {
    text-decoration: none;
 }

 a:hover{
    text-decoration: none;
 }

 a:active {
    text-decoration: none;
 }